{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "globals": {
        "console": true,
        "AndroidImgHandler": true,
        "AndroidJsConnector": true,
        "ga": true,
        "NDB": true
    },
    "rules": {
        "no-console":"off"
    },
    // "extends": [ "eslint:recommended", "plugin:vue/recommended"]
    "extends": [ "eslint:recommended"]
}